.gallery {
  --d: 80s;
  /* duration */
  display: grid;
  place-items: center; /* Center both horizontally and vertically */
  width: 220px;
  
    transform: translateX(-50%);
    position: absolute;
    left: 47vw;
    top: 22vw;
}

.gallery > img {
  grid-area: 1/1;
  width: 18vw;
  aspect-ratio: 1;
  object-fit: cover;
  border: 10px solid #f2f2f2;
  box-shadow: 0 0 4px #0007;
  z-index: 2;
  animation: slide var(--d) infinite, z-order var(--d) infinite steps(1);
}

.gallery img:last-child {
  animation-name: slide, z-order-last;
}

.gallery > img:nth-child(1) {
  animation-delay: calc(0*var(--d));
  --r: 16deg;
}

.gallery > img:nth-child(2) {
  animation-delay: calc(-0.1*var(--d));
  --r: -1deg;
}

.gallery > img:nth-child(3) {
  animation-delay: calc(-0.2*var(--d));
  --r: -19deg;
}

.gallery > img:nth-child(4) {
  animation-delay: calc(-0.3*var(--d));
  --r: 6deg;
}

.gallery > img:nth-child(5) {
  animation-delay: calc(-0.4*var(--d));
  --r: -8deg;
}
.gallery > img:nth-child(6) {
  animation-delay: calc(-0.5*var(--d));
  --r: -4deg;
}.gallery > img:nth-child(7) {
  animation-delay: calc(-0.6*var(--d));
  --r: -3deg;
}.gallery > img:nth-child(8) {
  animation-delay: calc(-0.7*var(--d));
  --r: -2deg;
}.gallery > img:nth-child(9) {
  animation-delay: calc(-0.8*var(--d));
  --r: -10deg;
}

@keyframes slide {
  10% {
    transform: translateX(120%) rotate(var(--r));
  }
  0%, 100%, 20% {
    transform: translateX(0%) rotate(var(--r));
  }
}

@keyframes z-order {
  10%, 20% {
    z-index: 1;
  }
  80% {
    z-index: 2;
  }
}

@keyframes z-order-last {
  10%, 20% {
    z-index: 1;
  }
  90% {
    z-index: 2;
  }
}

body {
 
  display: grid;
  place-content: center;
  -ms-overflow-style: none;
  overflow: hidden;
}

#hedlinecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
 top: 5vw;
left: 50vw;

  position: absolute;
transform: translateX(-50%);
}

#shine {
  font-size: 60px;
  font-weight: bold;
  color: rgb(227 157 9 / 30%);
  z-index: 10;
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
  -webkit-background-size: 150px;
  -webkit-background-clip: text;
  -webkit-animation-name: shine;
  -webkit-animation-duration: 3s; /* Adjust the duration as needed */
  -webkit-animation-iteration-count: infinite;
  text-shadow: 0 0px 0px rgba(233, 85, 189, 0.419);

}

@-webkit-keyframes shine {
  0%, 10% {
    background-position: -1000px;
  }
  20% {
    background-position: top left;
  }
  90% {
    background-position: top right;
  }
  100% {
    background-position: 1000px;
  }
}


  #shine {
  font-size: 5.5vw;
  }

#hedlinecontainer {
  display: flex;
  justify-content: center;
  align-items: center;

  
}

/*.gallery {
  --d: 73s;
  /* duration 
  display: grid;
  place-items: center; /* Center both horizontally and vertically 
  width: 100px;
 
}*/

body {
  background-image: url("vecteezy_abstract-elegant-gold-lines-diagonal-scene-on-black_8953048.jpg");
  background-repeat: no-repeat;
  background-position: center top;
overflow: hidden;

  /* Firefox */
  scrollbar-width: none;

  /* Internet Explorer / Edge lama */
  -ms-overflow-style: none;
  /* WIDTH TETAP, HEIGHT STRETCH */
  background-size: 100% 100%;

  background-color: #000;
}


html{
    scroll-behavior: smooth;
    overflow-x: hidden;}

body::-webkit-scrollbar {
  display: none;
}

html, body {
  width: 100%;
  height: 49vw;
  margin: 0;
  padding: 0;
  
}
body {
 overflow-y: scroll;

}

 .layang img{
    position:fixed;
    height: 5%;
    pointer-events: none;
    display: block;


  animation:
    idleFloat 18s ease-in-out infinite,
    idleBlink 6s ease-in-out infinite;

  will-change: transform, opacity;
}
.layang img:nth-child(1)  { right:95%;  top:58%; }
.layang img:nth-child(2)  { right:84%;  top:63%; }
.layang img:nth-child(3)  { right:95%; top:65%; }
.layang img:nth-child(4)  { right:95%; top:48%; }
.layang img:nth-child(5)  { right:92%; top:50%; }

.layang img:nth-child(6)  { left:25%; top:70%; }

.layang img:nth-child(27) { right:89%; top:56%; }
.layang img:nth-child(28) { right:90%; top:65%; }

/* tengah */
.layang img:nth-child(7)  { left:30%; top:74%; }
.layang img:nth-child(8)  { left:35%; top:70%; }
.layang img:nth-child(9)  { left:40%; top:76%; }
.layang img:nth-child(10) { left:45%; top:72%; }
.layang img:nth-child(11) { left:50%; top:74%; }
.layang img:nth-child(12) { left:55%; top:70%; }

/* kanan */
.layang img:nth-child(13) { left:60%; top:75%; }
.layang img:nth-child(14) { left:65%; top:71%; }
.layang img:nth-child(15) { left:70%; top:74%; }
.layang img:nth-child(16) { left:74%; top:69%; }
.layang img:nth-child(17) { left:78%; top:73%; }
.layang img:nth-child(18) { left:82%; top:70%; }

/* ujung */
.layang img:nth-child(19) { left:90%; top:65%; }
.layang img:nth-child(20) { left:89%; top:56%; }
.layang img:nth-child(21) { left:92%; top:50%; }
.layang img:nth-child(22) { left:95%; top:48%; }
.layang img:nth-child(23) { left:95%; top:65%; }

.layang img:nth-child(24) { left:99%; top:40%; }

.layang img:nth-child(25) { left:84%; top:63%; }
.layang img:nth-child(26) { left:95%; top:58%; }




.layang img:nth-child(29)  { left:20%; top:76%; }
.layang img:nth-child(30)  { left:16%; top:70%; }

/* tengah */
.layang img:nth-child(31)  { left:25%; top:85%; }
.layang img:nth-child(32)  { left:30%; top:89%; }
.layang img:nth-child(33)  { left:35%; top:85%; }
.layang img:nth-child(34)  { left:40%; top:91%; }
.layang img:nth-child(35) { left:45%; top:87%; }
.layang img:nth-child(36) { left:50%; top:89%; }
.layang img:nth-child(37) { left:55%; top:85%; }

/* kanan */
.layang img:nth-child(38) { left:60%; top:90%; }
.layang img:nth-child(39) { left:65%; top:86%; }
.layang img:nth-child(40) { left:70%; top:89%; }
.layang img:nth-child(41) { left:74%; top:84%; }
.layang img:nth-child(42) { left:78%; top:88%; }
.layang img:nth-child(43) { left:82%; top:85%; }
.layang img:nth-child(44)  { left:20%; top:91%; }
.layang img:nth-child(45)  { left:16%; top:85%; }

.layang img:nth-child(odd) {
  animation-duration: 20s, 7s;
}
.layang img:nth-child(even) {
  animation-duration: 16s, 5.5s;
}


@keyframes idleFloat {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(8px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}


@keyframes idleBlink {
  0%   { opacity: 0.37; }
  30%  { opacity: 0.9; }
  55%  { opacity: 0.49; }
  75%  { opacity: 1; }
  100% { opacity: 0.45; }
}
 


.reset {
  text-align: center;
  position: absolute;
}



.reset button {
  font-weight: 800;
  font-style: normal;
  transition: all 0.1s linear;
  -webkit-appearance: none;
  background-color: beige;
  border: solid 0.2vw #d9534f;
  border-radius: 0.4vw;
  color: #d9534f;
  display: inline-block;
  font-size: 1.4vw;
  text-transform: uppercase;
  margin: 0.5vw;
  padding: 1px;
  line-height: 1vw;
  text-decoration: none;
  min-width: 12vw;
  cursor: pointer;


}
.reset button:hover {
  background-color: #d9534f;
  color: #fff;
}
 .reset .open {
   top: 1vw;
    position: absolute;
    left: 1vw;
  }
  .reset .rese {
    right: -99vw;
    position: absolute;
    top: 1vw;
  }
 .png img {
  position: absolute;
  height: auto;
  max-width: 100%;
  display: block;
  z-index: -1;
}
.ab{

  bottom: 0;
  width: 17vw;
   left: 1%;
  
  transform: scaleX(-1);
}
.aa{

  bottom: 0;
  width: 17vw;
   right: 1%;
  
 
}
