.layang img{
    position:fixed;
    height: 5%;
    pointer-events: none;
    display: block;


  animation:
    idleFloat 18s ease-in-out infinite,
    idleBlink 6s ease-in-out infinite;

  will-change: transform, opacity;
}
.layang img:nth-child(1) { left: 20%; top: 48%; }
.layang img:nth-child(2) { left: 35%; top: 58%; }
.layang img:nth-child(3) { left: 49%; top: 52%; }
.layang img:nth-child(4) { left: 65%; top: 58%; }
.layang img:nth-child(5) { left: 80%; top: 48%; }

.layang img:nth-child(6)  { left: 12%; top: 60%; }
.layang img:nth-child(7)  { left: 22%; top: 68%; }
.layang img:nth-child(8)  { left: 32%; top: 74%; }
.layang img:nth-child(9)  { left: 42%; top: 78%; }
.layang img:nth-child(10) { left: 57%; top: 78%; }
.layang img:nth-child(11) { left: 67%; top: 74%; }
.layang img:nth-child(12) { left: 77%; top: 68%; }
.layang img:nth-child(13) { left: 87%; top: 60%; }

.layang img:nth-child(14) { left: 6%;  top: 66%; }
.layang img:nth-child(15) { left: 94%; top: 66%; }
.layang img:nth-child(16) { left: 12%;  top: 79%; }
.layang img:nth-child(17) { left: 89%; top: 79%; }

.layang img:nth-child(18) { left: 13%; top: 92%; }
.layang img:nth-child(19) { left: 35%; top: 92%; }
.layang img:nth-child(20) { left: 49%; top: 87%; }
.layang img:nth-child(21) { left: 65%; top: 92%; }
.layang img:nth-child(22) { left: 87%; top: 92%; }

.layang img:nth-child(23) { left: 7%; top: 47%; }
.layang img:nth-child(24) { left: 93%; top: 47%; }

/* variasi biar nggak seragam */
.layang img:nth-child(odd) {
  animation-duration: 20s, 7s;
}
.layang img:nth-child(even) {
  animation-duration: 16s, 5.5s;
}


@keyframes idleFloat {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(8px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}


@keyframes idleBlink {
  0%   { opacity: 0.37; }
  30%  { opacity: 0.9; }
  55%  { opacity: 0.49; }
  75%  { opacity: 1; }
  100% { opacity: 0.45; }
}

.scene {
  position: relative;
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: 'elegant';
  src: url(font/ELEGANT\ \ Personal\ use.ttf);
}
/* Chrome, Safari, Edge baru */
body::-webkit-scrollbar {
  display: none;
}

html, body {
  width: 100%;
  height: 49vw;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("aadd.jpg");
  background-repeat: no-repeat;
  background-position: center top;
overflow: hidden;

  /* Firefox */
  scrollbar-width: none;

  /* Internet Explorer / Edge lama */
  -ms-overflow-style: none;
  /* WIDTH TETAP, HEIGHT STRETCH */
  background-size: 100% 100%;

  background-color: #000;
}


html{
    scroll-behavior: smooth;
    overflow-x: hidden;}

  div .board p{
    font-size: 1.97vw;
    font-family: 'elegant', sans-serif;
    padding: -10vw;
    color: beige ;
    padding-top:-1vw ;
    text-align: center;
    
}

.board{
    width: 76vw;
    height: 33vw;
    background-color: rgba(153, 70, 19, 0.6) ;
    position: absolute;
   box-shadow: 0px 0px 18px 10px rgb(229, 202, 116), inset 0px 0px 8px 5px rgb(54, 4, 2);
   top: 13%;
    left: 50%;
  /*  right: 390px;
    bottom: 150px;*/
   z-index: 1;
   place-items: center;
   transform: translateX(-50%);
}

.png img {
  position: absolute;
  height: auto;
  max-width: 100%;
  display: block;
  
}

.ca{

  bottom: 0;
  width: 17vw;
   left: 0%;
  
  transform: scaleX(-1);
  z-index: 15;
}
.cb{

  bottom: 0;
  width: 17vw;
   right: 0%;
  z-index: 15;
 
}
.aa {
  top: 0%;
right: 29%;
  width: 40vw;
  transform: translateX(-50%);
  transform: rotate(180deg);
}
.ab {
  top:40vw;
  left: 50%;
  width: 40vw;
  transform: translateX(-50%);
}

.reset {
  text-align: center;
  position: absolute;
}



.reset button {
  font-weight: 800;
  font-style: normal;
  transition: all 0.1s linear;
  -webkit-appearance: none;
  background-color: beige;
  border: solid 0.2vw #d9534f;
  border-radius: 0.4vw;
  color: #d9534f;
  display: inline-block;
  font-size: 1.4vw;
  text-transform: uppercase;
  margin: 0.5vw;
  padding: 1px;
  line-height: 1vw;
  text-decoration: none;
  min-width: 10vw;
  cursor: pointer;


}
.reset button:hover {
  background-color: #d9534f;
  color: #fff;
}
 .reset .open {
   top: 1vw;
    position: absolute;
    left: 0.01vw;
  }
  .tek{
    position: absolute;

    top: 1vw;
    right: 0.01vw;
  }
  body {
 overflow-y: scroll;}
