/*body{
background-repeat: no-repeat;
background-size: cover;
background-image: url(aadd.jpg);
background-color: black;
margin: 0%;
padding: 0%;



}*/
.music{
   
    z-index: 99999999;
}
@font-face {
  font-family: 'elegant';
  src: url(font/ELEGANT\ \ Personal\ use.ttf);
}
/* Chrome, Safari, Edge baru */
body::-webkit-scrollbar {
  display: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("aadd.jpg");
  background-repeat: no-repeat;
  background-position: center top;
overflow: hidden;

  /* Firefox */
  scrollbar-width: none;

  /* Internet Explorer / Edge lama */
  -ms-overflow-style: none;
  /* WIDTH TETAP, HEIGHT STRETCH */
  background-size: 100% 100%;

  background-color: #000;
}


html{
    scroll-behavior: smooth;
    overflow-x: hidden;}
h1{
    color: white;
    font-size: 30px;
}
.layang img{
    position:fixed;
    height: 5%;
    pointer-events: none;
    display: block;


  animation:
    idleFloat 18s ease-in-out infinite,
    idleBlink 6s ease-in-out infinite;

  will-change: transform, opacity;
}
.layang img:nth-child(1) { left: 20%; top: 48%; }
.layang img:nth-child(2) { left: 35%; top: 58%; }
.layang img:nth-child(3) { left: 49%; top: 52%; }
.layang img:nth-child(4) { left: 65%; top: 58%; }
.layang img:nth-child(5) { left: 80%; top: 48%; }

.layang img:nth-child(6)  { left: 12%; top: 60%; }
.layang img:nth-child(7)  { left: 22%; top: 68%; }
.layang img:nth-child(8)  { left: 32%; top: 74%; }
.layang img:nth-child(9)  { left: 42%; top: 78%; }
.layang img:nth-child(10) { left: 57%; top: 78%; }
.layang img:nth-child(11) { left: 67%; top: 74%; }
.layang img:nth-child(12) { left: 77%; top: 68%; }
.layang img:nth-child(13) { left: 87%; top: 60%; }

.layang img:nth-child(14) { left: 6%;  top: 66%; }
.layang img:nth-child(15) { left: 94%; top: 66%; }
.layang img:nth-child(16) { left: 12%;  top: 79%; }
.layang img:nth-child(17) { left: 89%; top: 79%; }

.layang img:nth-child(18) { left: 13%; top: 92%; }
.layang img:nth-child(19) { left: 35%; top: 92%; }
.layang img:nth-child(20) { left: 49%; top: 87%; }
.layang img:nth-child(21) { left: 65%; top: 92%; }
.layang img:nth-child(22) { left: 87%; top: 92%; }

.layang img:nth-child(23) { left: 7%; top: 47%; }
.layang img:nth-child(24) { left: 93%; top: 47%; }

/* variasi biar nggak seragam */
.layang img:nth-child(odd) {
  animation-duration: 20s, 7s;
}
.layang img:nth-child(even) {
  animation-duration: 16s, 5.5s;
}


@keyframes idleFloat {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(8px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}


@keyframes idleBlink {
  0%   { opacity: 0.37; }
  30%  { opacity: 0.9; }
  55%  { opacity: 0.49; }
  75%  { opacity: 1; }
  100% { opacity: 0.45; }
}

.scene {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* GLOBAL IMAGE */
.scene img {
  position: absolute;
  height: auto;
  max-width: 100%;
  display: block;
}


.pink {
  top: -3%;
  left: 50%;
  width: 23vw;
  transform: translateX(-50%);
}
.red {
  top: 22%;
  width: 19vw;
}

.red.left {
  left: -2%;
}

.red.right {
  right: -2%;
  
  
   transform: scaleX(-1);
}
.blue {
  top: 20%;
  left: 50%;
  width: 16vw;
  transform: translateX(-50%);

  transition:
    opacity 1s ease,
    transform 1s ease,
    filter 1s ease;
}



.orange {
  top: 42%;
  width: 12vw;
  transition:
    opacity 1s ease,
    transform 1s cubic-bezier(.22,.61,.36,1),
    filter 1s ease;
}

.orange.left {
  left: 36%;
}

.orange.right {
  right: 36%;
  transform: scaleX(-1);
}
.green {
  top: 75%;
  left: 50%;
  width: 40vw;
  transform: translateX(-50%);
}
.white {
  bottom: 0;
  width: 17vw;
}

.white.left {
  left: -2%;
  
  transform: scaleX(-1);
}

.white.right {
  right: -2%;
}

.judul{position: absolute;
bottom: 20%;
    left: 50%;
  transform: translateX(-50%);
  text-align: center;
  
z-index: 10;
pointer-events: auto;
}
.judul .teek{
    color: white;
    font-size: 2vw;
   font-family: 'elegant';
    font-weight: bold;
   
  transition:
    opacity 1s ease,
    filter 1s ease,
    transform 1s ease;
   

    
   
color: beige;
cursor: pointer;
width: 12vw;
border: 0.2vw dotted;
text-align: center;

}
.blue.hide {
  opacity: 0;
  transform: translateX(-50%) scale(0.6);
  filter: blur(12px);
}

.blue.show {
  opacity: 1;
  transform: translateX(-50%) scale(1);
  filter: blur(0);
}
.teek.hide {
  opacity: 0;
  filter: blur(6px);
  transform: scale(0.9);
}

.teek.show {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}
.show {
  opacity: 1;
  transform: scale(1);
  filter: blur(0);
}

/* STATE HILANG */
.hide {
  opacity: 0;
  transform: scale(0.6);
  filter: blur(14px);
}
p:nth-child(1) {
  font-size: 0.82vw;
  color: white;
} 
