#envelope {
  position: relative;
  width: 32vw;
  height: 20vw;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  top: 17vw;
  background-color: #d9534f; /* Warm romantic red */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.front {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 3;
}

.flap {
  border-left: 16vw solid transparent;
  border-right: 16vw solid transparent;
  border-bottom: 8.9vw solid transparent;
  /* a little smaller */
  border-top: 11vw solid #d9534f; /* Same romantic red */
  /* a little larger */
  transform-origin: top;
  pointer-events: none;
}

.pocket {
  border-left: 16vw solid #f5a3a2; /* Soft pinkish red for the pocket */
  border-right: 16vw solid #f5a3a2;
  border-bottom: 10vw solid #ff6f61; /* Lighter romantic red */
  border-top: 10vw solid transparent;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.letter {
  position: relative;
  background-color: #fff;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
  top: 5%;
  border-radius: 6px;
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.12);
  font-family: "Dancing Script", cursive;
}

.letter:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.words {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 72%;
  background-color: #ffe6e6; /* Light romantic tone */
}

.words.line1 {
  top: 10%;
  font-size: 1.3vw;
  width: 20%;
  height: 7%;
  font-size: 1.3vw;
}

.words.line2 {
  top: 22%;
  text-align: left;
  font-size: 1.1vw;
}



.open .flap {
  transform: rotateX(180deg);
  transition: transform 0.4s ease, z-index 0.6s;
  z-index: 1;
}

.close .flap {
  transform: rotateX(0deg);
  transition: transform 0.4s 0.6s ease, z-index 1s;
  z-index: 5;
}

.close .letter {
  transform: translateY(0px);
  transition: transform 0.4s ease, z-index 1s;
  z-index: 1;
}

.open .letter {
  transform: translateY(-14vw);
  transition: transform 0.4s 0.6s ease, z-index 0.6s;
  z-index: 2;
}

.hearts {
  position: absolute;
  top: 9vw;
  left: 0;
  right: 0;
  z-index: 2;
}

.heart {
  position: absolute;
  bottom: 0;
  right: 10%;
  pointer-events: none;
}

.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 5vw;
  top: 0;
  width: 5vw;
  height: 8vw;
  background: #e60073; /* Deep romantic pink */
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  pointer-events: none;
}

.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.close .heart {
  opacity: 0;
  -webkit-animation: none;
  animation: none;
}

.a1 {
  left: 20%;
  transform: scale(0.6);
  opacity: 1;
  -webkit-animation: slideUp 4s linear 1, sideSway 2s ease-in-out 4 alternate;
  -moz-animation: slideUp 4s linear 1, sideSway 2s ease-in-out 4 alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.a2 {
  left: 55%;
  transform: scale(1);
  opacity: 1;
  -webkit-animation: slideUp 5s linear 1, sideSway 4s ease-in-out 2 alternate;
  -moz-animation: slideUp 5s linear 1, sideSway 4s ease-in-out 2 alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.a3 {
  left: 10%;
  transform: scale(0.8);
  opacity: 1;
  -webkit-animation: slideUp 7s linear 1, sideSway 2s ease-in-out 6 alternate;
  -moz-animation: slideUp 7s linear 1, sideSway 2s ease-in-out 6 alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.a4 {
  left: 33%;
  transform: scale(0.8);
  opacity: 1;
  -webkit-animation: slideUp 3s linear 1, sideSway 4s ease-in-out 2 alternate;
  -moz-animation: slideUp 3s linear 1, sideSway 4s ease-in-out 2 alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.a5 {
  left: 1%;
  transform: scale(0.8);
  opacity: 1;
  -webkit-animation: slideUp 6s linear 1, sideSway 3s ease-in-out 6 alternate;
  -moz-animation: slideUp 6s linear 1, sideSway 3s ease-in-out 6 alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
@-webkit-keyframes slideUp {
  0% {
    top: 0;
  }
  100% {
    top: -60vw;
  }
}
@keyframes slideUp {
  0% {
    top: 0;
  }
  100% {
    top: -60vw;
  }
}
@-webkit-keyframes sideSway {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 5vw;
  }
}
@keyframes sideSway {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 5vw;
  }
}
body {
  background-color: #f0e6f6; /* Soft lavender for a romantic, dreamy feel */
}

.envlope-wrapper {
  height: 42vw;
}

.reset {
  text-align: center;
}

.rese a {
  text-align: center;
}

.reset button {
  font-weight: 800;
  font-style: normal;
  transition: all 0.1s linear;
  -webkit-appearance: none;
  background-color: beige;
  border: solid 0.2vw #d9534f;
  border-radius: 0.4vw;
  color: #d9534f;
  display: inline-block;
  font-size: 1.4vw;
  text-transform: uppercase;
  margin: 0.5vw;
  padding: 1px;
  line-height: 1vw;
  text-decoration: none;
  min-width: 12vw;
  cursor: pointer;
}

.rese a button {
  font-weight: 800;
  font-style: normal;
  transition: all 0.01s linear;
  -webkit-appearance: none;
  background-color: transparent;
  border: solid 0.12vw #d9534f;
  border-radius: 0.14vw;
  color: #d9534f;
  display: inline-block;
  font-size: 1vw;
  text-transform: uppercase;
  margin: 0.5vw;
  padding: 1px;
  line-height: 0.71vw;
  text-decoration: none;
  min-width: 1.2vw;
  cursor: pointer;
  position: absolute;
  z-index: 50;
}

.reset button:hover {
  background-color: #d9534f;
  color: #fff;
}
a .wa {
 right: 78%;
  top: 0.04vw;
}
a .ws {
 left: 68%;
  top: 0.04vw;
}








body::-webkit-scrollbar {
  display: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("vecteezy_abstract-elegant-gold-lines-diagonal-scene-on-black_8953048.jpg");
  background-repeat: no-repeat;
  background-position: center top;
overflow: hidden;

  /* Firefox */
  scrollbar-width: none;

  /* Internet Explorer / Edge lama */
  -ms-overflow-style: none;
  /* WIDTH TETAP, HEIGHT STRETCH */
  background-size: 100% 100%;

  background-color: #000;
}


html{
    scroll-behavior: smooth;
    overflow-x: hidden;}









    .layang img{
    position:fixed;
    height: 5%;
    pointer-events: none;
    display: block;


  animation:
    idleFloat 18s ease-in-out infinite,
    idleBlink 6s ease-in-out infinite;

  will-change: transform, opacity;
}
.layang img:nth-child(1)  { right:95%;  top:58%; }
.layang img:nth-child(2)  { right:84%;  top:63%; }
.layang img:nth-child(3)  { right:95%; top:65%; }
.layang img:nth-child(4)  { right:95%; top:48%; }
.layang img:nth-child(5)  { right:92%; top:50%; }

.layang img:nth-child(6)  { left:25%; top:70%; }

.layang img:nth-child(27) { right:89%; top:56%; }
.layang img:nth-child(28) { right:90%; top:65%; }

/* tengah */
.layang img:nth-child(7)  { left:30%; top:74%; }
.layang img:nth-child(8)  { left:35%; top:70%; }
.layang img:nth-child(9)  { left:40%; top:76%; }
.layang img:nth-child(10) { left:45%; top:72%; }
.layang img:nth-child(11) { left:50%; top:74%; }
.layang img:nth-child(12) { left:55%; top:70%; }

/* kanan */
.layang img:nth-child(13) { left:60%; top:75%; }
.layang img:nth-child(14) { left:65%; top:71%; }
.layang img:nth-child(15) { left:70%; top:74%; }
.layang img:nth-child(16) { left:74%; top:69%; }
.layang img:nth-child(17) { left:78%; top:73%; }
.layang img:nth-child(18) { left:82%; top:70%; }

/* ujung */
.layang img:nth-child(19) { left:90%; top:65%; }
.layang img:nth-child(20) { left:89%; top:56%; }
.layang img:nth-child(21) { left:92%; top:50%; }
.layang img:nth-child(22) { left:95%; top:48%; }
.layang img:nth-child(23) { left:95%; top:65%; }

.layang img:nth-child(24) { left:99%; top:40%; }

.layang img:nth-child(25) { left:84%; top:63%; }
.layang img:nth-child(26) { left:95%; top:58%; }




.layang img:nth-child(29)  { left:20%; top:76%; }
.layang img:nth-child(30)  { left:16%; top:70%; }

/* tengah */
.layang img:nth-child(31)  { left:25%; top:85%; }
.layang img:nth-child(32)  { left:30%; top:89%; }
.layang img:nth-child(33)  { left:35%; top:85%; }
.layang img:nth-child(34)  { left:40%; top:91%; }
.layang img:nth-child(35) { left:45%; top:87%; }
.layang img:nth-child(36) { left:50%; top:89%; }
.layang img:nth-child(37) { left:55%; top:85%; }

/* kanan */
.layang img:nth-child(38) { left:60%; top:90%; }
.layang img:nth-child(39) { left:65%; top:86%; }
.layang img:nth-child(40) { left:70%; top:89%; }
.layang img:nth-child(41) { left:74%; top:84%; }
.layang img:nth-child(42) { left:78%; top:88%; }
.layang img:nth-child(43) { left:82%; top:85%; }
.layang img:nth-child(44)  { left:20%; top:91%; }
.layang img:nth-child(45)  { left:16%; top:85%; }

.layang img:nth-child(odd) {
  animation-duration: 20s, 7s;
}
.layang img:nth-child(even) {
  animation-duration: 16s, 5.5s;
}


@keyframes idleFloat {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(8px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}


@keyframes idleBlink {
  0%   { opacity: 0.37; }
  30%  { opacity: 0.9; }
  55%  { opacity: 0.49; }
  75%  { opacity: 1; }
  100% { opacity: 0.45; }
}




/* GLOBAL IMAGE */
.png img {
  position: absolute;
  height: auto;
  max-width: 100%;
  display: block;
  
}

.ab{

  bottom: 0;
  width: 17vw;
   left: 1%;
  
  transform: scaleX(-1);
}
.aa{

  bottom: 0;
  width: 17vw;
   right: 1%;
  
 
}
.tempelan img {
  position: absolute;
  height: auto;
  max-width: 100%;
  display: block;
  z-index: 20;
}
.tempelan .ba{
 left: 71%;
 bottom: -28%;
  width: 19vw;
  
}
.tempelan .bb{
 left: -33%;
 bottom: -28%;
  width: 19vw;
   transform: scaleX(-1);
  
}
.png .face {
  top: 2%;
  left: 50%;
  width: 40vw;
  transform: translateX(-50%);
}
.cat{
  position: absolute;
   transform: translateX(-50%);
   width: 8vw;
   top: -3%;
   left: 50%;

}
body {
 overflow-y: scroll;}